# 1. Write a Python program to get the volume of a sphere with radius 6.

In [1]:
radius=6

In [2]:
vol=(4.0/3.0)*(22/7)*radius**3

In [3]:
print("volume of sphere is:" ,vol)

volume of sphere is: 905.142857142857

# 2. Write a Python program to calculate the sum of three given numbers, if the values are equal then return three times of their sum hint: write User defined functions

In [4]:
def my_fun(a,b,c):
    if (a==b & b==c&c==a):
        return 3*a;
    else:
        return a+b+c;

In [5]:
my_fun(1,2,3)

6

In [6]:
my_fun(4,4,4)

12

# 3. Write a Python program to count the number 4 in a given list.

In [7]:
List = [1,4,6,8,4,9,4]
count=0;

In [8]:
for i in List:
    
    if (i==4):
        count=count+1

        
print(count)

3

# 4. Write a Python program to print all even numbers from a given numbers list in the same order and stop the printing if any numbers that come after 237 in the sequence. Go to the editorSample numbers list :

399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,

815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,

958,743, 527]

In [9]:
Lt=[399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,

815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,

958,743, 527]

In [10]:
for i in Lt:
    if i==237:
        print(i)
        break;
    elif (i%2==0 ):
        print(i)

162
758
918
237

# 5. Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included)

In [11]:
num=range(1500,2701)
for i in num:
        if(i%7==0) and (i%5==0):
            print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

# 6. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

Note : Use 'continue' statement.

Expected Output : 0 1 2 4 5

# 7. Write a Python program to get the Fibonacci series between 0 to 50.

Note : The Fibonacci Sequence is the series of numbers :

0, 1, 1, 2, 3, 5, 8, 13, 21, ....

Every next number is found by adding up the two numbers before it.

Expected Output : 1 1 2 3 5 8 13 21 34

In [1]:
x = 0
y = 1
while y<50 :
    print(y, end=" ")
    x, y = y, x+y

1 1 2 3 5 8 13 21 34

# 8. Write a Python program to get the Fibonacci series between 0 to 50.

Note : The Fibonacci Sequence is the series of numbers :

0, 1, 1, 2, 3, 5, 8, 13, 21, ....

Every next number is found by adding up the two numbers before it.

Expected Output : 1 1 2 3 5 8 13 21 34

In [2]:
x = 0
y = 1
while y<50 :
    print(y, end=" ")
    x, y = y, x+y

1 1 2 3 5 8 13 21 34

# 9. Write a Python function that takes a list and returns a new list with unique elements of the first list.

Sample List : [1,2,3,3,3,3,4,5]

Unique List : [1, 2, 3, 4, 5]